li{
	float:left;
	list-style-type:none;
	font-size: 13px;
	color: #666;
	padding: 0 15px 0 0;
}
a{text-decoration: none;color: #000;}
a:hover{text-decoration:underline;} /*鼠标显示下划线*/
body{margin:0px;  padding:0px;}
img{border:none;}
#head{
	height:55px;
	width:100%;
	background: #fff;
	min-width:1000px;
	position: fixed;
	/*float: left;*/
	}
#logo{
	height:55px;
	width:150px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	}
#searchbox{
	height: 55px;
	width: 612px;
	/*background: blue;*/
	float: left;
	}
input#keyword{
	height: 28px;
	width: 500px;
	margin-top: 10px;
	font-size: 21px;
	}
input#submit{
	height: 34px;
	width: 100px;
	margin: 0px;
	}
#body{
	height: auto;
	width: 100%;
	margin: 10px 0 0 0;
	/*background: yellow;*/
	min-width:1000px;
	}
#body_space{
	height: 100%;
	width: 80px;
	float: left;
	}
#body_main{
	height:auto; 
	/*background: red;*/
	float: left;
	margin-top: 30px;
	}
#menu{
	height: 40px;
	width: auto; 
/*	background: grey;*/
	margin-left: 80px;
	}
#result_num{
	height: 40px;
	margin-left: 80px;
	}
#result_main{
	padding: 0px 20px 20px 80px;height: auto;min-height: 532px;
	}
#foot{
	height: 40px;
	width: 100%;
	background:#ececec;
	padding: 10px 0 0 0 ; 
	min-width: 1000px;
/*	position: fixed;*/
/*	clear:both;*/
	bottom: 0;
	}
#foot_left{
	margin: 10px;
	float: left; 
	}
#foot_right{
	float: right;
	margin: 10px;
	}